<header class="container-fluid sticky-top p-2 ">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid ">
          <a class="navbar-brand text-white" href="#">NodeFlix</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse text-white d-flex" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link " href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/movies">Peliculas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/tienda">Mi Tienda</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/contact">Contacto</a>
              </li>
              <li class="img-login-container ">
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="/images/user.svg" alt="login" class="img-login"></a>
              </li>
            
            </ul>
          </div>
        </div>
    </nav>

   
  
  </header>