  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
               <h1 class="modal-title fs-5" id="exampleModalLabel">NodeFlix</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
           <div class="login-container">
              <h2>Iniciar sesión</h2>
              <p>Ingresá tus credenciales para acceder a contenido exclusivo</p>
              <form id="login-form">
                <label for="user" class="sr-only">User</label>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario" required>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <button type="submit"  class="login-btn ">Iniciar sesión</button>
                <p class="error escondido">Error al iniciar sesión</p>
              </form> 
            </div>
          </div>
          <div class="modal-footer">
            <b> ¿Todavía no tenés una cuenta?</b>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
           <a href="/registro"> <button type="button" class="btn btn-primary">Registrarse</button></a>
          </div>
        </div>
      </div>
        </div> 