     {{>header}}                                  
                                       
  {{>modal}}                                     
 <section class="container min-vh-100 d-flex justify-content-center align-items-center text-white flex-column">
         <h1>{{mensaje}}</h1>
         <img src="/images/likeDone.avif" alt="dibujo de hombre alegre con los pulgares hacia arriba" class="img-done">
         <a href="/tienda" class="btn btn-secondary btn-block mt-4 cancel-button">Volver</a>
 </section>   
                                       
   {{>footer}}                                    