<div class="min-vh-100 d-flex justify-content-center align-items-center text-white flex-column">
    <h1>No se encontro la pelicula que buscaste, intente nuevamente</h1>
    <a href="/" class="btn btn-secondary btn-block mt-4 cancel-button">Volver</a>
</div>

