{{> header}}


{{>modal}}
<section class="seeMovie-container text-white">
    <article class="containerMovie">
            <div class="seeMovie-Text">
             <h1>Proximamente...</h1>
             <a href="/tienda"><img src="/images/play.png" alt="play" class="play-img img-fluid"></a>
            </div>
    </article>
</section> 



{{>footer}}
